#miniatura {
  text-align: center;
}
#miniatura img {
  width: 200px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
}
#maior {
  text-align: center;
}
#maior img {
  width: 800px;
  height: 710px;
}
